#generate_json_block{
    display: block;
}
#json_input_block{
    display: none;
}
#json_input_block textarea{
    width: 100%;
}
#generate_json_block:hover #json_input_block{
    display: block;
}

.json-management-panel{
    position: fixed;
    top: 70px;
    z-index: 999;
    display: inline-block;
}

.json-management-panel button{
    height: 32px;
    text-align: center;
}

@media only screen and (max-width:650px){
    .json-management-panel{
        display:none;
    }
}