.radio-figure{
    display: inline-block;
}
.radio-figure i{
    background-color: white;
    border-radius: 5px;
}

.radio-figure label > input{
    visibility: hidden;
    position: absolute;
}
.radio-figure label > input + i{
    border:3px solid transparent;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}
.radio-figure label > input:checked + i{
    border-bottom: 4px solid #27C23D;
}

.radio-tab{
    margin:5px;
}
