body, html{
    width:100%; height:100%;
    padding:0; margin:0;

    background-color: #373C44;
    background-size: 1000px;
    background-repeat: repeat;

    box-shadow: inset 0px 0px 80px #202020;
}

#svg-editor-area{
    width:100%; height:100%;
    overflow: hidden;
}

#svg-work-area{
    display:inline-block;
    position: relative;
}
#svg-area{
    position: relative;
    top:0;
    box-shadow: 0 0 50px black;
    width:0px; height:0px;
}
#bg-element{
    position: absolute;
    top:0px;
    z-index: -1;
    display: flex;
}

.svg-element:hover{
    cursor: pointer;
}

#bg-element img,
#svg-image-couple svg{
    display: block;
}


.control-panel{
    position: fixed;
    left: 0;        
    right: 0;       
    top: 0;         
    width: 450px;   
    margin: auto;   
    max-width: 100%;
    z-index: 10000;

    background-color: #32363D;
    background-color: rgba(50,54,61,0.8);
    border: 1px solid #474D57;
    color: white;
    text-align: center;

    padding: 8px;

    
}

.jscolor{
    width: 50px;
    margin: 0 auto;
    padding: 5px;

    text-align: center;

    border: none;
    border-radius: 5px;
}

.zoom-panel{
    position: fixed;
    z-index: 999;

    background-color: #32363D;
    background-color: rgba(50,54,61,0.8);
    border: 1px solid #474D57;

    padding:8px;
}
.zoom-panel i{
    width: 32px;
    height: 32px;
    border: none;

    font-size: 160%;
    text-align: center;
    color:#0071BC;
    font-weight: bold;

    margin-right: 5px;

    background-color: white;
    display: inline-block;
}

.zoom-panel i:hover{
    cursor: pointer;
}

.functional-btns{
    margin:3px;
    display: inline-block;
}

@media only screen and (max-width:800px){
    .control-panel{
        top: unset;
        left: unset;
        right: unset;
        bottom: 0;

        width: 100%;
        padding: 10px 0 0 0;
    }

    .zoom-panel{
        top:0;
    }

    .jscolor{
        height:30px;
        position: fixed;
        right:8px;
        top:8px;
        border:4px solid white;
        box-shadow: 0 0 10px black;
    }
}