body, html{
    width:100%; height:100%;
    padding:0; margin:0;

    background-color: #0273CD;
    background-image: url('../images/editor/editor-background.jpg');
    background-size: 1000px;
    background-repeat: repeat;

    box-shadow: inset 0px 0px 80px #202020;
}

.control-panel{
    left: 30%;
    width: 40%;
    position: fixed;
    top: 0;

    display: inline-block;
    z-index: 1;
    background-color: #546575;
    background-color: rgba(84,101,117,0.6);
    color: white;
    text-align: center;

    border-radius: 0 0 5px 5px;
    box-shadow: 0px 0px 15px black;

    padding-top: 5px;
}

#svg-editor-area{
    width:100%; height:100%;
    overflow: hidden;
}

#svg-work-area{
    width: 100%;
    height: 100%;
}
#svg-area{
    position: relative;
    box-shadow: 0 0 50px black;
    width:0px; height:0px;
}
#bg-element{
    position: relative;
    z-index: -1;
    display: flex;
}

.svg-element:hover{
    cursor: pointer;
}

#bg-element img,
#svg-image-couple svg{
    display: block;
}

.jscolor{
    width: 50px;
    margin: 0 auto;
    padding: 5px;

    text-align: center;

    border: none;
    border-radius: 5px;
}

.zoom-panel{
    position: fixed;
    z-index: 999;

    background-color: #546575;
    background-color: rgba(84,101,117,0.6);

    border-radius: 0 0 5px 0;
    box-shadow: 0px 0px 15px black;

    padding:10px;
}
.zoom-panel button{
    width: 32px;
    height: 32px;
    font-size: 160%;
    text-align: center;
    
    border: none;
    border-radius: 5px;

    margin-right: 5px;
}


@media only screen and (max-width:800px){
    .control-panel{
        left:0;
        width: 100%;
        position: fixed;
        top: 0;

        display: inline-block;
        z-index: 1;
        background-color: #546575;
        background-color: rgba(84,101,117,0.6);
        color: white;
        text-align: center;

        border-radius: 0 0 10px 10px;
        box-shadow: 0px 0px 15px black;
    }

    .zoom-panel{

        border-radius: 0 10px 0px 0;
        box-shadow: 0px 0px 15px black;

        padding:10px;

        bottom:0;
    }
}